/* commenttttt */
.container {
    color: #ff1c4c;
    font-family:monospace;
    font-weight: bold;
    background-color: #30243c00;
    border: 0.1rem rgba(0, 0, 0, 0) solid;
    border-radius: 30px;
    margin-left: 6%;
    margin-right: 60%;
    margin-top: 13%;
    padding: 5px;
    font-size: 25px;
}

body {
    background: rgb(19,16,25);
    background: -moz-linear-gradient(90deg, rgba(19,16,25,1) 15%, rgba(46,40,64,1) 59%, rgba(37,31,50,1) 77%);
    background: -webkit-linear-gradient(90deg, rgba(19,16,25,1) 15%, rgba(46,40,64,1) 59%, rgba(37,31,50,1) 77%);
    background: linear-gradient(90deg, rgba(19,16,25,1) 15%, rgba(46,40,64,1) 59%, rgba(37,31,50,1) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131019",endColorstr="#251f32",GradientType=1);
}

input {
    width: 15%;
    height: 3%;
}

.buttonclass {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 60px;
    margin-right: 30px;
    width: 190px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #ffffff;
    background-color: #ff1c4c;
    border-radius: 5px;
}

.buttonclass:hover {
    background-color: #e51440;
}

p {
    font-size: 35px;
}
/* esse era o data de nascimento */

.ImagemFundo {
    background-image: url(OperaGX.png);
    margin-left: 51%;
    margin-top: -24%;
    /*position: absolute; n faz nada parece*/
}

.Logo {
    margin-top: 1px;
    margin-right: 82%;
    width: 90px;
    position: fixed;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #30243c;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 1000;
}

.top-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #fff;
    background-color: #ff1c4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}



.top-button:hover {
    background-color: #e51440;
}
